/* stylelint-disable order/properties-alphabetical-order */
/* stylelint-disable function-no-unknown */
/* stylelint-disable no-descending-specificity */
/* stylelint-disable color-function-notation */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: inherit;
}

:root {
  --playbar-height: 100px;
}

a {
  border: 1px solid black;
  padding: 5px 10px;
  background: rgb(233 233 233);
  border-radius: 10px;
  width: 100%;
  display: inline-block;
  display: flex;
  align-items: center;
  gap: 10px;
}

a i {
  font-size: 0.9rem;
}

.add-to-playlist-modal form select {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #4b4b4b;
  outline: none;
  cursor: pointer;
}

.add-to-playlist-modal form button {
  padding: 8px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.add-to-playlist-modal form select option {
  background: rgb(190 244 190);
  cursor: pointer;
}

.add-to-playlist-modal form select option.disabled {
  background: rgb(163 163 163);
  cursor: not-allowed;
}

.app {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #dfdfdf;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1.3rem;
  margin-bottom: var(--playbar-height);
}

.sidebar .create-playlist-wrapper {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.sidebar .create-playlist-btn {
  margin-top: 20px;
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
  position: relative;
}

.sidebar .create-playlist-modal {
  position: absolute;
  bottom: -5px;
  left: 0;
  transform: translateY(100%);
  background-color: rgb(135 135 135);
  padding: 15px;
  display: none;
  z-index: 10;
  border-radius: 10px;
}

.sidebar .create-playlist-modal.active {
  display: block;
}

.sidebar .create-playlist-modal form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sidebar .create-playlist-modal form input[type='text'] {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #4b4b4b;
  outline: none;
}

.sidebar .create-playlist-modal form button {
  padding: 8px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.sidebar ul {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.window {
  flex: 1;
  margin-bottom: var(--playbar-height);
  display: flex;
  align-items: center;
  justify-content: center;
}

.window .playlist {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.window .playlist .heading {
  padding: 20px;
  border-bottom: 1px solid #ccc;
  font-size: 1rem;
}

.window .playlist .heading .input-wrapper {
  display: inline-block;
  position: relative;
}

.window .playlist .heading .input-wrapper button i {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  display: none;
}

.window .playlist .heading .input-wrapper input:focus + button i {
  display: block;
}

.window .playlist .heading input {
  background: none;
  outline: none;
  border: none;
  font-size: 1.3rem;
  font-weight: bold;
  width: 200px;
}

.window .playlist .heading label {
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
}

.window .playlist .heading button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: inherit;
}

.window .playlist .song-list {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 13px;
  overflow-y: auto;
  height: 100%;
}

.window .playlist .song-list .song-item {
  display: flex;
  align-items: center;
  gap: 10px;
  background: rgb(189 188 188);
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}

.window .playlist .song-list .song-item.playing {
  background: rgb(100 149 237);
}

.window .playlist .song-list .song-item .fa-music {
  opacity: 0;
  transition: opacity 0.2s ease;
}

.window .playlist .song-list .song-item .fa-music.playing {
  opacity: 1;
}

.window .playlist .song-list .song-item .button-wrapper {
  position: relative;
}

.window .playlist .song-list .song-item .button-wrapper .add-btn {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.window .playlist .song-list .song-item .add-to-playlist-modal {
  position: absolute;
  background-color: rgb(135 135 135);
  padding: 15px;
  white-space: nowrap;
  display: none;
  z-index: 10;
  border-radius: 10px;
}

.window .playlist .song-list .song-item .add-to-playlist-modal.active {
  display: block;
}

.window .playlist .song-list .song-item .add-to-playlist-modal form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 150px;
}

.window .playlist .song-list .song-item .remove-btn {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: auto;
  margin-right: 10px;
}

.play-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: var(--playbar-height);
  background-color: #c1c1c1;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 -2px 5px rgb(0 0 0 / 10%);
}

.play-bar .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.play-bar .wrapper .infos {
  font-size: 1.1rem;
  display: flex;
  gap: 20px;
}

.play-bar .wrapper .controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.play-bar .wrapper .controls .button {
  font-size: 0.9rem;
  cursor: pointer;
  padding: 6px;
  border-radius: 50%;
  background: rgb(169 168 168);
  opacity: 0.5;
  border: none;
}

.play-bar .wrapper .controls .button.active {
  opacity: 1;
}

.play-bar .wrapper .timeline {
  display: flex;
  align-items: center;
  gap: 20px;
}

.play-bar .wrapper .timeline .fa-music {
  opacity: 0;
}

.play-bar .wrapper .timeline .fa-music.playing {
  opacity: 1;
}

.play-bar .wrapper .timeline .progress-time {
  opacity: 0;
}

.play-bar .wrapper .timeline .progress-time.active {
  opacity: 1;
}

.play-bar .wrapper .timeline .line {
  width: 280px;
  height: 4px;
  border-radius: 20px;
  background: rgb(161 161 161);
  cursor: pointer;
}

.play-bar .wrapper .timeline .line .progress {
  height: 100%;
  border-radius: 20px;
  background: rgb(65, 126, 213);
  transition: width 0.2s;
}
